*{
    box-sizing: border-box;
    padding: 0;
    nav-right: 0;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h2{
    display: inline-flex;
    height: 200px;
    width: 200px;
    background: radial-gradient(white 1%,hsl(320, 100%, 69%) 99%);
    color: black;
    font-size: 25px;
    font-weight: bolder;
    border: solid black 2px;
    border-radius: 55%;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;


}

h2:hover{
    background: hsl(303, 97%, 43%);
    color: white;
    transform: scale(.9);


}

h2:active{
            animation: spin 1s ease ;
            animation-iteration-count: 2;
            animation-direction: alternate;
}




@keyframes spin {

    from{
            transform:  translateY(0px) scale(.9) rotateX(0deg) ;
    }

    to{
    transform:  translateY(-30px) scale(1.06)rotateX(990deg) ;
    }


}