    body{
        display: flex;
        height: 100vh;
        font-size: 25px;
        justify-content: center;
        align-items: center;

    }

    div{
        display: inline-block;
        height: 24em;
        width: 22em;
        border: solid black 2px;
        background-color: black;
        position: relative;
        border-radius: 150px;
    }

    input{
        display: inline-block;
        height: 2rem;
        width: 6rem;
        border: solid white 5px;
        border-radius: 20px;
        position: absolute;
        top: 5rem;
        left: 21rem;
        text-align: center;
        font-weight: bolder;
        font-size: 1.2rem;
    }

    input::placeholder{
        color: gold;
        font-size: 1rem;
        font-weight: bolder;
        padding: 1px 0 6px;
    }

    input:nth-of-type(1){
        left: 7rem;
    }

    #rslt{
        height: 2rem;
        width:20rem;
        display: inline-flex;
        color: white;
        position: absolute;
        top: 12rem;
        left: 7.5rem;
        align-items: center;
        justify-content: center;
    }

    button{
        all:unset;
        background-color: gold;
        color: black;
        font-weight: bolder;
        padding: 10px;
        border-radius: 30px;
        position: absolute;
        height: 2rem;
        width: 10rem;
        text-align: center;

    }

button:nth-of-type(1){
    top: 20rem;
    left: 5rem;
}

button:nth-of-type(2){
    top:20rem;
    right: 5rem;
}
button:nth-of-type(3){
    top:26rem;
    left: 5rem;
}
button:nth-of-type(4){
    top:26rem;
    right: 5rem;
}
