*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-size: 25px;
}

#inp{
    width: 20rem;
    height:20rem;
    position:absolute;
    top: 10%;
    left: 40%;
    font-size: .7rem;
    padding: .2rem;
}

#inp2{
    display: inline-block;
    height: 2rem;
    width: 8rem;
    position: absolute;
    bottom: 25%;
    left: 48%;
    text-align: center;
}

#chck,#p{
    display: inline-block;
    height: 1rem;
    width: 8rem;
    position: absolute;
    bottom: 15%;
    left: 48%;
}

#p{
    bottom: 10%;
    left: 48%;
    text-align: center;
    font-weight: bolder;
}

